html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 14px;
    font-family: "Open sans", sans-serif;
    background: #e7e7e7;
}

.photo-booth {
    background: white;
    max-width: 150rem;
    border-radius: 3px;
    margin: 2rem auto;
}

.photo-booth:after {
    content: '';
    display: block;
    clear: both;
}

.controls {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    font-size: 16px;
    border-radius: 3px;
    padding: 10px;
    margin-right: 10px;
    min-width: 150px;
}

/* Canvas */
.photo {
    width: 70%;
    float: left;
}

/* Video */
.player {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
}

/* Strip */
.strip {
    padding: 2rem;
}

.strip img {
    width: 100px;
    padding: 0.8rem 0.8rem 2.5rem 0.8rem;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}